# GEMINI API ANAHTARLARI (Birden fazla hesabı virgülle ayırarak yazabilirsiniz)
GEMINI_API_KEYS=key1,key2,key3

# GOOGLE CLOUD SERVICE ACCOUNT (Birden fazla JSON yolunu virgülle ayırarak yazabilirsiniz)
GOOGLE_APPLICATION_CREDENTIALS_LIST=account1.json,account2.json

# UYGULAMA AYARLARI
OUTPUT_DIR=output_audio
TEMP_DIR=temp_data
